body{
  background-color: #4b6584;
  font-weight: 300;
}
.weather {
  background-color: #778ca3;
  padding: 50px;
  display: flex;
    align-content: space-around;
    align-items: center;
    margin: 2rem 30rem;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding-bottom: 30px;
    width: max-content;
    padding: 0px 20px 20px 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .weather .title {
    color: whitesmoke;
    font-weight: 500;
    font-size: 2.5rem;
    padding: 50px 50px;
  }
  .cont{
  color: whitesmoke;
  font-weight: 500;

}
.weather form {
  margin-top: 30px;
}
.weather form input {
  padding: 10px;
  border-bottom: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin-right: 10px;
}

.weather form input:focus {
  border-bottom: 2px solid rgb(79, 79, 79);
  border-radius: 5px;
}

.weather .getweather {
  margin-left: 145px;
  padding: 10px 18px;
  font-size: 1rem;
  border: none;
  border-radius: 2px;
  border: 2px solid black;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  color: whitesmoke;
}

.weather .getweather:hover {
  transition: 0.3s;
  background: #868686;
  color: black;
}

.weather .getweather:focus {
  outline: none;
}
